.wallpaper {
  background-image: url("./assets/images/wallpaper.jpg");
  background-size: auto 100%;
  box-shadow: 5px 5px 5px 5px rgb(180, 180, 180);
}

#text {
  color: white;
  font-family: 'Cinzel', serif;
}

.jumbotron{
  z-index: -1 !important;
  height: 20rem;
}